@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');

body {
    font-family: 'Cabin';
    background-color: #758190;
}

.header {
    display: flex;
    flex-direction: column;
    background-color: lightblue;
    padding: 1%;
    align-items: left;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
}

.header-top {
    display: flex;
    align-items: center;
}

.tab-styles {
    display: flex;
    align-items: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 10px;
    text-decoration: none;
}

.tab-style {
    margin-bottom: -1px; /* Pull the block-level element up into the container's border */
    padding-bottom: 10px; /* Spacing between the text and the border */ 
    background: none;
    border: none;
    border-top-right-radius: 5px;
    font-family: "Poppins";
    font-size: 16px;
    cursor: pointer;
    padding: 10px 10px;
    transition: background 0.3s ease;
    text-decoration: none;
    color: lightcyan;
}

nav {
    background-color: lightblue;
    margin-top: 1em;
    margin-left: 2em;
    margin-right: 2em;
}

#tentacles {
    width: 50px;
}

.stats-container {
    display: flex;
    align-items: center;
    justify-content: space-around; /* Evenly spaces child elements */
    gap: 20px; /* Adds space between child elements */
    margin: 20px 0; /* Adds margin above and below */
}

.stats-container:hover {
    cursor: pointer;
    box-shadow: 0 0 30px lightblue;
}

.stats-card {
    background-color: #a8b0bc;
    border-radius: 7px;
    padding: 1%;
    margin: 1%;
    width: 100%;
    text-align: center;
}

#num-contributions, #total-raised, #num-games {
    font-size: 50px;
}

#games-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.game-img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px #FFFFFF;
}

.game-card {
    background-color: #FFFFFF;
    padding: 1%;
    margin: 1%;
    width: 300px;
    text-align: center;
    border-radius: 7px;
}

.game-card:hover {
    cursor: pointer;
    box-shadow: 0 0 30px lightblue;
}

#button-container {
    text-align: center;
}

button {
    font-family: 'Cabin';
    border: none;
    padding: 1%;
    margin: 1%;
    border-radius: 7px;
}